
@font-face {
  font-family: 'bernier_regularregular';
  src: url('../assets/fonts/bernier/BERNIERRegular-Regular/bernierregular-regular-web.eot');
  src: url('../assets/fonts/bernier/BERNIERRegular-Regular/bernierregular-regular-web.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/bernier/BERNIERRegular-Regular/bernierregular-regular-web.woff2') format('woff2'),
  url('../assets/fonts/bernier/BERNIERRegular-Regular/bernierregular-regular-web.woff') format('woff'),
  url('../assets/fonts/bernier/BERNIERRegular-Regular/bernierregular-regular-web.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bernier_shaderegular';
  src: url('../assets/fonts/bernier/BERNIERShade-Regular/berniershade-regular-web.eot');
  src: url('../assets/fonts/bernier/BERNIERShade-Regular/berniershade-regular-web.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/bernier/BERNIERShade-Regular/berniershade-regular-web.woff2') format('woff2'),
  url('../assets/fonts/bernier/BERNIERShade-Regular/berniershade-regular-web.woff') format('woff'),
  url('../assets/fonts/bernier/BERNIERShade-Regular/berniershade-regular-web.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
